# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# 2 space identation
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.json]
indent_size = 2

[*.hs, *.lhs]
charset = utf-8
indent_size = 4
